pip>=23.2
setuptools>=65.5.0
wheel>=0.40.0

https://github.com/numpy/numpy/releases/download/v1.21.4/numpy-1.21.4-cp39-cp39-manylinux2010_x86_64.whl

Flask==2.3.2
nltk==3.6.6
pandas==1.1.0
scikit-learn==0.23.2
textblob==0.15.3
gunicorn
